body {
  font-family: 'Philosopher', sans-serif;
  font-size: 20px;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}

.row {
  margin: 0 ;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid grey;
}

.no_under {
  border-bottom: none;
}

.row:after {
  clear: both;
  content: " ";
  display: block;
}

.col {
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
}

.col-100 {
  width: 100%;
}

.col-75 {
  width: 75%;
}

.col-33 {
  width: 33.33%;
}

.col-25 {
  width: 25%;
}

.photo {
  width: 250px;
  border-radius: 50%;
}

.photo:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.mb-2 {
  margin-bottom: 20px;
}

.mt {
  margin-top: 3em;
}

.mt-2 {
  margin-top: 1.5em;
}

h1 {
  font-size: 46px;
  text-align: center;
}

h2 {
  font-size: 26px;
  font-weight: normal;
  text-align: center;
}

h3 {
  font-size: 26px;
  margin-bottom: 7px;
}

p {
  margin: 10px;
}

.p-large {
  margin-top: 25px;
}

.p-center {
  text-align: center;
}

li {
  margin: 7px;
}

.li-no-style {
  list-style: none;
}

.text-center {
  text-align: center;
}

.button {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@media (max-width: 960px) {
  .col {
    float: none;
  }
  .col-25,
  .col-33,
  .col-50,
  .col-75 {
    width: 100%;
  }
  .photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  h1, h2, h3, p, .p-large {
    text-align: center;
  }
}
