/ *
* Скелет V2.0.4
* Авторские права 2014, Дэйв Гамаш
* www.getskeleton.com
* Бесплатное использование по лицензии MIT.
* http://www.opensource.org/licenses/mit-license.php
* 29.12.2014
* /


/* Содержание
–––––––––––––––––––––––––––––––––––––––––––––––––––––
- сетка
- Базовые стили
- Типография
- Ссылки
- кнопки
- Формы
- Списки
- Код
- столы
- интервал
- Утилиты
- Очистка
- Медиа-запросы
* /


/ * Сетка
––––––––––––––––––––––––––––––––––––––––––––––––––––– * /
. container {
  положение : относительное;
  ширина : 100 % ;
  max-width : 960 пикселей ;
  маржа : 0 авто;
  отступ : 0  20 пикселей ;
  размер коробки : рамка-рамка; }
. колонка ,
. columns {
  ширина : 100 % ;
  float : left;
  размер коробки : рамка-рамка; }

/ * Для устройств размером более 400 пикселей * /
@media ( min-width : 400 пикселей ) {
  . container {
    ширина : 85 % ;
    отступ : 0 ; }
}

/ * Для устройств больше 550 пикселей * /
@media ( min-width : 550 пикселей ) {
  . container {
    ширина : 80 % ; }
  . колонка ,
  . columns {
    маржа слева : 4 % ; }
  . столбец : первенец ,
  . columns : first-child {
    маржа слева : 0 ; }

  . один . колонка ,
  . один . столбцы                     { ширина : 4.66666666667 % ; }
  . два . столбцы                     { ширина : 13,3333333333 % ; }
  . три . столбцы                   { ширина : 22 % ; }
  . четыре . столбцы                    { ширина : 30,6666666667 % ; }
  . пять . столбцы                    { ширина : 39,3333333333 % ; }
  . шесть . столбцы                     { ширина : 48 % ; }
  . семь . столбцы                   { ширина : 56.6666666667 % ; }
  . восемь . столбцы                   { ширина : 65,3333333333 % ; }
  . девять . столбцы                    { ширина : 74,0 % ; }
  . десять . столбцы                     { ширина : 82.6666666667 % ; }
  . одиннадцать . столбцы                  { ширина : 91,3333333333 % ; }
  . двенадцать . столбцы                  { ширина : 100 % ; маржа слева : 0 ; }

  . одна треть . столбец                { ширина : 30,6666666667 % ; }
  . две трети . столбец               { ширина : 65,3333333333 % ; }

  . половина . столбец                 { ширина : 48 % ; }

  / * Смещения * /
  . смещение по одному . колонка ,
  . смещение по одному . столбцы           { margin-left : 8.66666666667 % ; }
  . смещение на два . колонка ,
  . смещение на два . столбцы           { margin-left : 17,3333333333 % ; }
  . смещение на три . колонка ,
  . смещение на три . столбцы         { margin-left : 26 % ; }
  . смещение на четыре . колонка ,
  . смещение на четыре . столбцы          { margin-left : 34.6666666667 % ; }
  . смещение на пять . колонка ,
  . смещение на пять . столбцы          { margin-left : 43,3333333333 % ; }
  . смещение на шесть . колонка ,
  . смещение на шесть . столбцы           { margin-left : 52 % ; }
  . смещение на семь . колонка ,
  . смещение на семь . столбцы         { margin-left : 60.6666666667 % ; }
  . смещение на восемь . колонка ,
  . смещение на восемь . столбцы         { margin-left : 69,3333333333 % ; }
  . смещение на девять . колонка ,
  . смещение на девять . столбцы          { margin-left : 78,0 % ; }
  . смещение на десять . колонка ,
  . смещение на десять . столбцы           { margin-left : 86.6666666667 % ; }
  . смещение на одиннадцать . колонка ,
  . смещение на одиннадцать . столбцы        { margin-left : 95,3333333333 % ; }

  . смещение на одну треть . колонка ,
  . смещение на одну треть . столбцы     { margin-left : 34.6666666667 % ; }
  . смещение на две трети . колонка ,
  . смещение на две трети . столбцы    { margin-left : 69,3333333333 % ; }

  . смещение наполовину . колонка ,
  . смещение наполовину . столбцы      { margin-left : 52 % ; }

}


/ * Базовые стили
––––––––––––––––––––––––––––––––––––––––––––––––––––– * /
/* НОТА
html установлен на 62,5%, так что все измерения REM по всему скелету
основаны на размере 10 пикселей. Итак, в основном 1.5rem = 15px :) * /
html {
  размер шрифта : 62,5 % ; }
body {
  Размер шрифта : 1,5 эм ; / * в настоящее время ems вызывает ошибку хрома, неверно интерпретирующую rems на элементе body * /
  высота строки : 1,6 ;
  font-weight : 400 ;
  / * семейство шрифтов: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; * /
  семейство шрифтов : «Интер» ,  «PT Sans Narrow» ,  «Roboto Slab» , без засечек;
  цвет : # 222 ; }


/* Типография
––––––––––––––––––––––––––––––––––––––––––––––––––––– * /
h1 ,  h2 ,  h3 ,  h4 ,  h5 ,  h6 {
  margin-top : 0 ;
  нижнее поле : 2 бэма ;
  font-weight : 300 ; }
h1 { размер шрифта : 4.0 rem ; высота строки : 1,2 ;  letter-spacing : -.1 rem ;}
h2 { размер шрифта : 3,6 бэр ; высота строки : 1,25 ; межбуквенный интервал : -1 бэр ; }
h3 { размер шрифта : 3.0 rem ; высота строки : 1,3 ;  межбуквенный интервал : -1 бэр ; }
h4 { font-size : 2,4 rem ; высота строки : 1,35 ; межбуквенный интервал : -.08 бэр ; }
h5 { размер шрифта : 1,8 бэр ; высота строки : 1,5 ;  межбуквенный интервал : -.05 бэр ; }
h6 { размер шрифта : 1,5 бэр ; высота строки : 1,6 ;  межбуквенный интервал : 0 ; }

/ * Больше фаблета * /
@media ( min-width : 550 пикселей ) {
  h1 { размер шрифта : 5.0 rem ; }
  h2 { размер шрифта : 4,2 бэр ; }
  h3 { размер шрифта : 3,6 бэр ; }
  h4 { размер шрифта : 3,0 rem ; }
  h5 { font-size : 2,4 rem ; }
  h6 { размер шрифта : 1,5 бэр ; }
}

p {
  margin-top : 0 ; }


/ * Ссылки
––––––––––––––––––––––––––––––––––––––––––––––––––––– * /
a {
  цвет : # 1EAEDB ; }
a : hover {
  цвет : # 0FA0CE ; }


/ * Кнопки
––––––––––––––––––––––––––––––––––––––––––––––––––––– * /
. кнопка ,
кнопка ,
input [ type = "submit" ] ,
input [ type = "reset" ] ,
input [ type = "button" ] {
  дисплей : встроенный блок;
  высота : 38 пикселей ;
  отступ : 0  30 пикселей ;
  цвет : # 555 ;
  выравнивание текста : центр;
  размер шрифта : 11 пикселей ;
  font-weight : 600 ;
  line-height : 38 пикселей ;
  межбуквенный интервал : 0,1 бэр ;
  текст-преобразование : прописные;
  текстовое оформление : нет;
  белое пространство : nowrap;
  цвет фона : прозрачный;
  радиус границы : 4 пикселя ;
  граница : сплошная 1 пиксель # bbb ;
  курсор : указатель;
  размер коробки : рамка-рамка; }
. кнопка : навести ,
кнопка : навести ,
input [ type = "submit" ]: hover ,
input [ type = "reset" ]: наведите указатель мыши ,
input [ type = "button" ]: наведите указатель мыши ,
. кнопка : фокус ,
кнопка : фокус ,
input [ type = "submit" ]: фокус ,
input [ type = "reset" ]: фокус ,
input [ type = "button" ]: focus {
  цвет : # 333 ;
  цвет границы : # 888 ;
  контур : 0 ; }
. кнопка . кнопка первичная ,
кнопка . кнопка первичная ,
input [ type = "submit" ]. кнопка первичная ,
input [ type = "reset" ]. кнопка первичная ,
input [ type = "button" ]. button-primary {
  цвет : # FFF ;
  цвет фона : # 33C3F0 ;
  цвет границы : # 33C3F0 ; }
. кнопка . кнопка-основная : навести ,
кнопка . кнопка-основная : наведение ,
input [ type = "submit" ]. кнопка-основная : навести ,
input [ type = "reset" ]. кнопка-основная : навести ,
input [ type = "button" ]. кнопка-основная : навести ,
. кнопка . основная кнопка : фокус ,
кнопка . основная кнопка : фокус ,
input [ type = "submit" ]. основная кнопка : фокус ,
input [ type = "reset" ]. основная кнопка : фокус ,
input [ type = "button" ]. button-primary : focus {
  цвет : # FFF ;
  цвет фона : # 1EAEDB ;
  цвет границы : # 1EAEDB ; }


/ * Формы
––––––––––––––––––––––––––––––––––––––––––––––––––––– * /
input [ type = "email" ] ,
input [ type = "number" ] ,
input [ type = "search" ] ,
input [ type = "text" ] ,
input [ type = "tel" ] ,
input [ type = "url" ] ,
input [ type = "пароль" ] ,
textarea ,
выберите {
  высота : 38 пикселей ;
  отступ : 6 пикселей  10 пикселей ; / * 6 пикселей по вертикали центрируют текст на FF, игнорируется Webkit * /
  цвет фона : # fff ;
  граница : 1 ПВ твердый # D1D1D1 ;
  радиус границы : 4 пикселя ;
  box-shadow : нет;
  размер коробки : рамка-рамка; }
/ * Удаляет неудобные стили по умолчанию для некоторых входов для iOS * /
input [ type = "email" ] ,
input [ type = "number" ] ,
input [ type = "search" ] ,
input [ type = "text" ] ,
input [ type = "tel" ] ,
input [ type = "url" ] ,
input [ type = "пароль" ] ,
textarea {
  -webkit-appearance : нет;
     -моз-внешний вид : нет;
          внешний вид : нет; }
textarea {
  минимальная высота : 65 пикселей ;
  padding-top : 6 пикселей ;
  padding-bottom : 6 пикселей ; }
input [ type = "email" ]: фокус ,
input [ type = "number" ]: фокус ,
input [ type = "search" ]: фокус ,
input [ type = "text" ]: фокус ,
input [ type = "tel" ]: фокус ,
input [ type = "url" ]: фокус ,
input [ type = "password" ]: фокус ,
textarea : фокус ,
select : focus {
  граница : 1 ПВ твердый # 33C3F0 ;
  контур : 0 ; }
этикетки ,
legend {
  дисплей : блок;
  нижнее поле : 0,5 бэр ;
  font-weight : 600 ; }
fieldset {
  отступ : 0 ;
  ширина границы : 0 ; }
input [ type = "checkbox" ] ,
input [ type = "radio" ] {
  дисплей : встроенный; }
метка  > . label-body {
  дисплей : встроенный блок;
  маржа слева : 0,5 бэр ;
  шрифт : нормальный; }


/ * Списки
––––––––––––––––––––––––––––––––––––––––––––––––––––– * /
ul {
  стиль списка : круг внутри; }
ol {
  стиль списка : десятичный внутри; }
ol ,  ul {
  отступ слева : 0 ;
  margin-top : 0 ; }
ул  ул ,
ул  ол ,
ол  ол ,
ol  ul {
  запас : 1,5 бэр  0  1,5 бэр  3 бэр ;
  размер шрифта : 90 % ; }
li {
  нижнее поле : 1 бэр ; }


/ * Код
––––––––––––––––––––––––––––––––––––––––––––––––––––– * /
code {
  набивка : .2 rem  .5 rem ;
  Запас : 0  0,2 бэр ;
  размер шрифта : 90 % ;
  белое пространство : nowrap;
  фон : # F1F1F1 ;
  граница : 1 ПВ твердый # E1E1E1 ;
  радиус границы : 4 пикселя ; }
pre  >  code {
  дисплей : блок;
  набивка : 1 бэр  1,5 бэр ;
  белое пространство : предварительно; }


/ * Таблицы
––––––––––––––––––––––––––––––––––––––––––––––––––––– * /
th ,
td {
  отступ : 12 пикселей  15 пикселей ;
  выравнивание текста : слева;
  граница дно : 1 точки твердого # E1E1E1 ; }
й : первенец ,
td : first-child {
  отступ слева : 0 ; }
th : последний ребенок ,
td : last-child {
  отступ справа : 0 ; }


/ * Интервал
––––––––––––––––––––––––––––––––––––––––––––––––––––– * /
кнопка ,
. button {
  нижнее поле : 1 бэр ; }
вход ,
textarea ,
выберите ,
fieldset {
  нижнее поле : 1,5 бэр ; }
предварительно ,
BLOCKQUOTE ,
дл ,
фигура ,
стол ,
р ,
ул ,
ол ,
form {
  нижнее поле : 2,5 бэр ; }


/ * Утилиты
––––––––––––––––––––––––––––––––––––––––––––––––––––– * /
. u-full-width {
  ширина : 100 % ;
  размер коробки : рамка-рамка; }
. u-max-full-width {
  максимальная ширина : 100 % ;
  размер коробки : рамка-рамка; }
. u-pull-right {
  float : right; }
. u-pull-left {
  float : left; }


/ * Разное
––––––––––––––––––––––––––––––––––––––––––––––––––––– * /
hr {
  margin-top : 3 бэр ;
  нижнее поле : 3,5 бэр ;
  ширина границы : 0 ;
  границы сверху : 1 точек твердого # E1E1E1 ; }


/ * Очистка
––––––––––––––––––––––––––––––––––––––––––––––––––––– * /

/ * Доброта самоочищения * /
. контейнер : после ,
. строка : после ,
. u-cf {
  содержание : "" ;
  дисплей : таблица;
  ясно : оба; }


/ * Медиа-запросы
––––––––––––––––––––––––––––––––––––––––––––––––––––– * /
/ *
Примечание. Лучший способ структурировать использование медиа-запросов - создать запросы.
рядом с соответствующим кодом. Например, если вы хотите изменить стили для кнопок
на небольших устройствах вставьте код мобильного запроса в раздел кнопок и задайте стиль
там.
* /


/ * Больше, чем мобильный * /
@media ( минимальная ширина : 400 пикселей ) {}

/ * Больше фаблета (также указывает, когда сетка становится активной) * /
@media ( минимальная ширина : 550 пикселей ) {}

/ * Больше, чем планшет * /
@media ( минимальная ширина : 750 пикселей ) {}

/ * Больше, чем рабочий стол * /
@media ( минимальная ширина : 1000 пикселей ) {}

/ * Больше, чем Desktop HD * /
@media ( минимальная ширина : 1200 пикселей ) {}
